@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l145dm');
  src:  url('fonts/icomoon.eot?l145dm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l145dm') format('truetype'),
    url('fonts/icomoon.woff?l145dm') format('woff'),
    url('fonts/icomoon.svg?l145dm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alipay:before {
  content: "\e900";
}
.icon-arrow-bottom:before {
  content: "\e901";
}
.icon-arrow-bottom-small:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-arrow-top:before {
  content: "\e905";
}
.icon-avatar:before {
  content: "\e906";
}
.icon-bill:before {
  content: "\e907";
}
.icon-boradband-time:before {
  content: "\e908";
}
.icon-broadband-repair:before {
  content: "\e909";
}
.icon-calendar:before {
  content: "\e90a";
}
.icon-chinese-knot:before {
  content: "\e90b";
}
.icon-circle-ask:before {
  content: "\e90c";
}
.icon-circle-cheaked:before {
  content: "\e90d";
}
.icon-circle-exclamatory:before {
  content: "\e90e";
}
.icon-circle-phone-in:before {
  content: "\e90f";
}
.icon-circle-phone-out:before {
  content: "\e910";
}
.icon-circle-triangle-right:before {
  content: "\e911";
}
.icon-cmcc:before {
  content: "\e912";
}
.icon-diamond:before {
  content: "\e913";
}
.icon-direction:before {
  content: "\e914";
}
.icon-face-bad:before {
  content: "\e915";
}
.icon-face-normal:before {
  content: "\e916";
}
.icon-face-smile:before {
  content: "\e917";
}
.icon-favourable:before {
  content: "\e918";
}
.icon-fire:before {
  content: "\e919";
}
.icon-flow:before {
  content: "\e91a";
}
.icon-gift:before {
  content: "\e91b";
}
.icon-give:before {
  content: "\e91c";
}
.icon-global:before {
  content: "\e91d";
}
.icon-group:before {
  content: "\e91e";
}
.icon-linkman:before {
  content: "\e91f";
}
.icon-message:before {
  content: "\e920";
}
.icon-mike:before {
  content: "\e921";
}
.icon-mobile-phone:before {
  content: "\e922";
}
.icon-phone-in:before {
  content: "\e923";
}
.icon-phone-out:before {
  content: "\e924";
}
.icon-position:before {
  content: "\e925";
}
.icon-right:before {
  content: "\e926";
}
.icon-rise:before {
  content: "\e927";
}
.icon-search:before {
  content: "\e928";
}
.icon-star:before {
  content: "\e929";
}
.icon-triangle-checked:before {
  content: "\e92a";
}
.icon-wechat:before {
  content: "\e92b";
}
.icon-X:before {
  content: "\e92c";
}
